{% extends "base.html" %}
{% load static %}
{% load carts_tags %}

{% block content %}
    <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
        <div class="container">
            <h3 class="text-center mb-4">Выбранные товары</h3>
            <div class="container" id="cart-items-container">
                <!-- Разметка корзины -->
                {% user_carts request as carts %}

                {% include "carts/includes/included_cart.html" %}
                <!-- Закончилась разметка корзины -->
            </div>
        </div>
        <!-- Детали заказа -->
        <div class="container">
            <h3 class="text-center">Детали заказа</h3>
            <div class="card mb-3">
                <div class="card-body">
                    <form action="{% url "orders:create_order" %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="id_first_name" class="form-label">Имя*:</label>
                                <input type="text" class="form-control" id="id_first_name"
                                       value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}"
                                       name="first_name" required>
                                {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="id_last_name" class="form-label">Фамилия*:</label>
                                <input type="text" class="form-control" id="id_last_name" name="last_name"
                                       value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}"
                                       required>
                                {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="id_phone" class="form-label">Номер телефона*:</label>
                                <input type="text" class="form-control" id="id_phone" name="phone"
                                       value="{{ form.phone.value|default_if_none:'' }}"
                                       placeholder="В формате: +7 (XXX) XXX-XX-XX"
                                       required>
                                {% if form.phone.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{ form.phone.errors }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Оформить заказ</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/jquery.inputmask.min.js"></script>
{#<script>#}
{#    $(document).ready(function () {#}
{#        // Применяем маску к полю номера телефона#}
{#        $('#id_phone_').inputmask('+7 (999) 999-99-99');#}
{#    });#}
{#</script>#}