{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

<div class="d-flex align-items-center">
    <button type="button" class="btn btn-secondary custom-btn" id="modalButton"
        aria-expanded="false">
        <img src="{% static "deps/icons/basket2-fill.svg" %}" alt="Catalog Icon" width="24"
            height="24" class="me-1">
        <span id="goods-in-cart-count">{{ carts.total_quantity }}</span>
    </button>
</div>

<!-- Модальное окно корзины -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container" id="cart-items-container">
                    <!-- Разметка корзины -->
                    {% include "carts/includes/included_cart.html" %}
                    <!-- Закончилась разметка корзины -->
                </div>
            </div>
        </div>
    </div>
</div>
