{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">    
{% endblock css %}

{% block modal_cart %}
    {% include 'includes/cart_button.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card bg-light border-0 shadow-lg">
                    <div class="card-body">
                        <h2 class="card-title text-center mb-4"><strong>Контакты</strong></h2>
                        <p class="card-text">Если у вас есть вопросы или вы хотите узнать больше о наших продуктах и услугах, пожалуйста, свяжитесь с нами:</p>
                        <ul class="list-unstyled">
                            <li><strong>Адрес:</strong> ул. Пушкина, д. 52, г. Москва, Российская Федерация</li>
                            <li><strong>Телефон:</strong> +7 (999) 555-35-35</li>
                            <li><strong>Email:</strong> udonik0604@mail.ru</li>
                        </ul>
                        <p class="card-text">Мы рады помочь вам и ответить на все ваши вопросы. Свяжитесь с нами любым удобным для вас способом, и мы сделаем все возможное, чтобы удовлетворить ваши потребности.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Udovichenko N 2024</p>
        </div>
    </footer>
{% endblock footer %}
